@model LinkShortener.Models.Link;

<div>
    <table>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => Model.URL):</strong></td>
            <td>@Html.DisplayFor(model => Model.URL)</td>
        </tr>
    </table>
</div>

<div>
    @using (Html.BeginForm("Update", "Link", FormMethod.Post))
    {
        <input type="text" name="URL" placeholder="Link" /> <br />
        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.Hash)
        <button type="submit">Add</button>
    }
</div>
